/*Events form input fix*/

#tribe-community-events input, #tribe-community-events select, #tribe-community-events textarea {
    min-height: 0;
    padding: 12px;
    width: auto;
}

/*Featured post widget title fix*/

.single-tribe_venue .featured-content .type-post header.entry-header,
.single-tribe_organizer .featured-content .type-post header.entry-header,
.single-tribe_events .featured-content .type-post header.entry-header,
.events-archive .featured-content .type-post header.entry-header {
    display:block;
}

/*Filter bar mobile toggle fix*/

.tribe-filters-open, .tribe-filters-open body {
overflow: visible!important;
}
